<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show URL</title>
</head>
<body>
    <% include partials/_header %>
    <% if (!user_id) { %>
      <p> You need to be logged in to see the URLs </p>
    <% } else { %>
      <% let longURL = urls[user_id][shortURL] %>
      <p> <%= `Short URL: ${shortURL}` %> </p>
      <p> <%= `Visits to this URL: ${visitCounts[shortURL]}` %> </p>
      <p> <%= `Date created: ${creationDates[shortURL]}` %> </p>
      <% for (visitor in visits[shortURL]) { %>
        <p> <%= `Visitor: ${visitor}`  %> </p>
        <p> <%= `Times: ${visits[shortURL][visitor]}` %> </p>
      <% } %>
      <p><%= `Current long URL: ${longURL}` %> </p>
      <form method="POST" action= <%= `/urls/${shortURL}` %> >
          <input type="text" name = "newURL" placeholder= "New URL">
          <input type="submit" name="Submit">
      </form>
    <% } %>
    <p>`Visit URL: localhost:3000/u/${shortURL}`</p>
</body>
</html>